@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --muted: 210 40% 96.08%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --ring: 217.22 91.22% 59.8%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 0% 0%;
    --foreground: 210 40% 98%;
    --muted: 216.92 31.71% 8.04%;
    --muted-foreground: 215 20.2% 65.1%;
    --popover: 222.2 0% 0%;
    --popover-foreground: 210 40% 98%;
    --card: 222.2 0% 0%;  
    --card-foreground: 210 40% 98%;
    --border: 220 8.33% 14.12%;
    --input: 217.2 32.6% 17.5%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 0% 100%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --accent: 217.2 30% 8%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 69.52% 52.05%;
    --destructive-foreground: 210 40% 98%;
    --ring: 217.22 39.02% 44.82%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}


.shadow-backdrop {
  position: absolute;
  background: hsl(var(--primary) / 20%);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 800px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}